<form class="main">
  <div id="retainer-generator" class="formApp">
    <h3>Retainer Generator</h3>
    <div class="fxsb padh10">
      <div>
        <label for="class-select">Class:</label>
        <select name="class-select" id="class-select">
          {{#each option}}
              <option value='{{value}}'>{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="level-select">
        <label for="level">Level:</label>
        <input id="level" type="number" max="14" placeholder="1" value="1">
      </div>
    </div>
    <div>
      <h3>Random</h3>
      <div class="fxsb padh10">
        <div>
          <label for="spells">Spells</label>
          <input class="padh10" id="spells" type="checkbox" checked>
        </div>
        {{{randName}}}
        <div>
          <label for="items">Items</label>
          <input class="padh10" id="items" type="checkbox" checked>
        </div>
      </div>
    </div>
    <div class="fxjcc mt10">
      <button id="generate" data-action="generate">Generate</button>
    </div>
  </div>
</form>
