<form>
  <div id="retainer-generator" class="formApp">
    <h2>Retainer Generator</h2>
    <div class="fxsb padh10">
      <div>
        <label for="class-select">Class:</label>
        <select name="class-select" id="class-select">
          {{#each option}}
              <option value='{{value}}'>{{name}}</option>
          {{/each}}
          
          <!-- <option value="">--Basic--</option>
          <option value="SRD.cleric">cleric</option>
          <option value="SRD.dwarf">dwarf</option>
          <option value="SRD.elf">elf</option>
          <option value="SRD.fighter">fighter</option>
          <option value="SRD.halfling">halfling</option>
          <option value="SRD.magic-user">magic-user</option>
          <option value="SRD.thief">thief</option> -->
        </select>
      </div>
      <div>
        <label for="level">Level:</label>
        <input id="level" type="number" max="14" placeholder="1" value="1">
      </div>
    </div>
    <div class="fxsb padh10 mt10">
      <div>
        <label for="spells">Random Spells</label>
        <input class="padh10" id="spells" type="checkbox" checked>
      </div>
      <div>
        <label for="items">Random Items</label>
        <input class="padh10" id="items" type="checkbox" checked>
      </div>
    </div>
    <div class="fxjcc mt10">
      <button id="submit">Generate</button>
    </div>
  </div>
</form>
