<div class="fx-sb">
  <div class="fx-col w-45" id="save-cont">
    <h3>Saves</h3>
    <div class="fx-sb">
      <label for="sav-row-lvl" class="m-r-5">Add Level:</label>
      <div class="" id="sav-control">
        <input type="text" class="num-inp m-r-5" placeholder="0" id="sav-row-lvl" />
        <button class="util-btn" id="add-saves-row">+</button>
      </div>
    </div>
    <div class="sv-header fx-sa"></div>
    <div id="sav-row-cont">
      <div class="inputs fx-sb" id="save-lvl-1">
        <div class="s-lvl-num">1:</div>
        <div class="fx-col aic">
          <div>D</div>
          <input class="num-inp" type="text" name="sv-1-d" id="sv-1-d" />
        </div>
        <div class="fx-col aic">
          <div>W</div>
          <input class="num-inp" type="text" name="sv-1-w" id="sv-1-w" />
        </div>
        <div class="fx-col aic">
          <div>P</div>
          <input class="num-inp" type="text" name="sv-1-p" id="sv-1-p" />
        </div>
        <div class="fx-col aic">
          <div>B</div>
          <input class="num-inp" type="text" name="sv-1-b" id="sv-1-b" />
        </div>
        <div class="fx-col aic">
          <div>S</div>
          <input class="num-inp" type="text" name="sv-1-s" id="sv-1-s" />
        </div>
        <div class="util-btn"></div>
      </div>
    </div>
  </div>
  <div class="fx-col" id="thac0-cont">
    <div class="fx-sb w100">
      <h3>Thac0</h3>
      <h3>Attack Bonus</h3>
    </div>
    <div class="fx-sb">
      <label for="thac0-row-lvl" class="m-r-5">Add Level:</label>
      <div class="" id="thac0-control">
        <input type="text" class="num-inp m-r-5" placeholder="0" id="thac0-row-lvl" />
        <button class="util-btn" id="add-thac0-row">+</button>
      </div>
    </div>
    <div id="thac0-row-cont" class="w100">
      <div id="thac0-row-1" class="fx w100">
        <div class="mr-5">1:</div>
        <div class="fx-sb w100">
          <input class="num-inp" type="text" name="thac0-1" id="thac0-1" />
          <input class="num-inp" type="text" name="ab-1" id="ab-1" />
        </div>
      </div>
    </div>
  </div>
</div>
