<div class="inputs fx-sb" id="save-lvl-{{sLvl}}">
  <div class="s-lvl-num">{{sLvl}}:</div>
  <div>
    <input class="num-inp" type="text" name="sv-{{sLvl}}-d}" id="sv-{{sLvl}}-d" />
  </div>
  <div>
    <input class="num-inp" type="text" name="sv-{{sLvl}}-w}" id="sv-{{sLvl}}-w" />
  </div>
  <div>
    <input class="num-inp" type="text" name="sv-{{sLvl}}-p}" id="sv-{{sLvl}}-p" />
  </div>
  <div>
    <input class="num-inp" type="text" name="sv-{{sLvl}}-b}" id="sv-{{sLvl}}-b" />
  </div>
  <div>
    <input class="num-inp" type="text" name="sv-{{sLvl}}-s}" id="sv-{{sLvl}}-s" />
  </div>
  <button id="sv-del-{{sLvl}}" class="util-btn sv-del">x</button>
</div>
