<div class="spell-level-row-cont fx-sb" >
  <div class="lvl">Level {{lvl}}:  </div>
  <div class="fx-sb">
    <input type="text" name="sl-{{lvl}}-1" class="num-inp"id="sl-{{lvl}}-1" placeholder="0">
  </div>
  <div class="fx-sb">
    <input type="text" name="sl-{{lvl}}-2" class="num-inp"id="sl-{{lvl}}-2" placeholder="0">
  </div>
  <div class="fx-sb">
    <input type="text" name="sl-{{lvl}}-3" class="num-inp"id="sl-{{lvl}}-3" placeholder="0">
  </div>
  <div class="fx-sb">
    <input type="text" name="sl-{{lvl}}-4" class="num-inp"id="sl-{{lvl}}-4" placeholder="0">
  </div>
  <div class="fx-sb">
    <input type="text" name="sl-{{lvl}}-5" class="num-inp"id="sl-{{lvl}}-5" placeholder="0">
  </div>
  <div class="fx-sb">
    <input type="text" name="sl-{{lvl}}-6" class="num-inp"id="sl-{{lvl}}-6" placeholder="0">
  </div>
</div>
